.flag-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .flag-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .flag-icon {
    width: 30px;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    margin-top: 5px;
    border-radius: 4px;
  }
  
  .flag-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .flag-option:hover {
    background-color: #f0f0f0;
  }
  